html, body
{
	height: 100%;
}

body
{
	background: #c0c0c0;
}

header, footer, content
{
	text-align:center;
}

header p
{
	margin: 0;
}

content
{
	font-size: 0.75em;
}

content h2
{
	font-size: 1.0em;
}

content ul li
{
	list-style: none;
	display: inline;
	padding-right: 5px;
}

content ul li:last-child:
{
	padding-right: 0px;
}

content ul li i
{
	color: #888888;
	margin-right: 5px;
}

footer
{
	height: 50px;
	margin-top: 15px;
	font-size: 0.75em;
	color: #dadada;
}

footer a
{
	color: inherit;
}

h1 p
{
	font-size: 0.7em;
}

h1 p small
{
	font-size: 0.5em;
}

.logo
{
	border: 1px solid black;
	width: 100px;
	height: 100px;
}

.vcard
{
	background: white;
	width: 400px;
	margin: auto;
	padding: 15px;
	box-shadow: 10px 10px 5px #888888;
	border: #bababa 1px solid;
}

#content-wrapper
{
	padding-top: 5%;
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -50px;
}

#content-wrapper:after {
	content: "";
	display: block;
}

footer, #content-wrapper:after {
	height: 50px;
}

.fa:hover
{
	color: #509600;
}
